<div class="w-100">

    <div class="container tw-mt-3 ">

        <div class="row pb-4 align-items-stretch ">
            <div class="col-12 tw-py-52 tw-rounded-xl tw-bg-confia-dark-green tw-overflow-hidden d-flex tw-relative tw-z-10 flex-column align-items-center justify-content-center" >
                <div class="tw-w-full tw-h-full tw-absolute tw-left-0  tw-top-0 backdrop-brightness-50">
                    <video src="../../../../assets/services/be-dev.mp4" autoplay [controls]="false" loop muted
                    class="tw-w-full"></video>
                </div>
                <div class="position-absolute top-0 py-5 w-100 h-100 d-flex align-items-center start-0 bg-dark-green-50">

                    <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full">
                      <div class="mx-auto">
                        <h1 class="tw-font-bold tw-text-start tw-text-white tw-text-6xl">Back-End</h1>
                        <h1 class="tw-font-bold tw-text-start tw-text-white tw-text-6xl">Development</h1>
                      </div>
                    </div>
                    </div>
            </div>

            <div class="col-12 tw-mt-8 ">
             <div class="row tw-items-stretch">
               
                <div class="col-12 col-md-5  tw-flex tw-flex-col tw-justify-center tw-items-center">
                    <img ngSrc="../../../../assets/services/be_dev.png" alt="BE DEV" width="500" height="333" class="tw-max-w-full">
                </div>
                <div class="col-12 col-md-7 tw-h-full">
                    <p class="tw-text-base tw-font-normal">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis consequatur tempore eaque reprehenderit, accusantium, necessitatibus eius adipisci iste aperiam eligendi nulla nihil sapiente pariatur eos facilis cum, consequuntur incidunt. Illum!
           
                    </p>
                </div>
             </div>
            </div>
            <div class="col-12 tw-mt-10">
                <div class="row tw-items-stretch">
                    <div class="col-12 col-md-5 ">
                        <h1 class="tw-font-bold tw-text-3xl tw-text-confia-dark-green">Technology Stack</h1>
                        <ul class="tw-list-[square] marker:tw-text-confia-dark-green marker:tw-text-3xl">
                            
                            <li>Django</li>
                            <li>ASP.NET CORE/MVC</li>
                            <li>Node JS</li>
                            <li>Payload CMS</li>
                            <li>Third Party API Integration</li>
                            <li>API Development</li>
                            <li>WebSockets</li>
                            <li>Scheduling</li>
                            <li>Web Hooks</li>
                            <li>Postgres/SQL Server/ MySql/ Firebase</li>
                          
                        </ul>
                    </div>
                    <div class="col-12 col-md-7  tw-flex tw-flex-col tw-justify-center tw-items-center">
              
                        <img src="../../../../assets/services/be_icons.png" alt="BE ICONS" idth="448" height="464" class="tw-max-w-full ">
                    </div>
                  
                 </div>
                
            </div>
    
                <div class="col-12 text-center tw-mt-10" >
                    <confia-button content="Get Started" target="_parent" type="button" type="link"  URL="/" fragment="contact" backgroundColor="bg-dark-green"
                    fontWeight="fw-400 mt-3 mt-md-0 " color="text-white" hoverClass="heroBtnHover"
                    padding="p-2 px-5"></confia-button>
                 
                </div>
       
                </div>
                </div>
                </div>
                