<div class="w-100 tw-relative tw-pt-16">
  <!-- <div class="col-12 tw-py-60  tw-bg-white tw-overflow-hidden d-flex tw-relative tw-z-10 flex-column align-items-center justify-content-center" >
        <div class="tw-w-full tw-h-full tw-absolute tw-left-0  tw-top-0">
            <video src="../../../../assets/services/fe_dev.mp4" autoplay [controls]="false" loop="true" muted
            class="tw-w-full"></video>
        </div>
        <div class="position-absolute top-0 py-5 w-100 h-100 d-flex align-items-center start-0 tw-backdrop-blur-md tw-bg-dark/30">

            <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-full ">
              <div class="mx-auto">
                <h1 class="tw-font-bold tw-text-start tw-text-confia-dark-green  tw-text-6xl">Frontend</h1>
                <h1 class="tw-font-bold tw-text-start tw-text-confia-dark-green  tw-text-6xl">Development</h1>
              </div>
            </div>
            </div>
    </div> -->
  <div class="container tw-pt-20">
    <div class="row pb-4 align-items-stretch">
      <div
        class="col-12 col-md-6 tw-flex tw-flex-col tw-justify-center tw-items-center"
      >
        <div class="tw-w-full">
          <h1
            class="tw-font-bold tw-text-start tw-text-confia-dark-green tw-text-4xl"
          >
            Mobile App
          </h1>
          <h1
            class="tw-font-bold tw-text-start tw-text-confia-dark-green tw-text-4xl"
          >
            Development
          </h1>
          <h3 class="tw-font-normal tw-text-confia-aqua tw-text-lg">
            Build Smarter, Seamless Mobile Apps!
          </h3>
          <div class="tw-mt-8">
            <confia-button
              content="Get Started"
              target="_parent"
              type="button"
              type="link"
              URL="/contact"
              backgroundColor="bg-dark-green"
              fontWeight="fw-400 mt-5 mt-md-0 "
              color="text-white"
              hoverClass="heroBtnHover"
              padding="p-2 px-5"
            ></confia-button>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 tw-flex tw-flex-col tw-justify-center tw-items-center"
      >
        <img
          ngSrc="../../../../assets/services/mobile_dev.png"
          alt="Mobile DEV"
          width="400"
          height="400"
          class="tw-max-w-full"
        />
      </div>
      <div class="col-12 tw-mt-8">
        <div class="row tw-items-stretch tw-mt-16">
          <div
            class="col-12 col-md-5 tw-relative text-center tw-flex tw-flex-col tw-justify-center tw-items-center"
          >
            <div
              class="tw-relative tw-mx-auto tw-flex tw-justify-center tw-items-center tw-border-dark tw-bg-confia-dark-green tw-border-[8px] tw-rounded-[2.5rem] tw-h-[500px] tw-w-[250px]"
            >
              <div
                class="tw-h-[32px] tw-w-[3px] tw-bg-confia-dark-green tw-dark:tw-bg-confia-dark-green tw-absolute tw--start-[3px] tw-top-[72px] tw-rounded-s-lg"
              ></div>
              <div
                class="tw-h-[46px] tw-w-[3px] tw-bg-confia-dark-green tw-dark:tw-bg-confia-dark-green tw-absolute tw--start-[3px] tw-top-[124px] tw-rounded-s-lg"
              ></div>
              <div
                class="tw-h-[46px] tw-w-[3px] tw-bg-confia-dark-green tw-dark:tw-bg-confia-dark-green tw-absolute tw--start-[3px] tw-top-[178px] tw-rounded-s-lg"
              ></div>
              <div
                class="tw-h-[64px] tw-w-[3px] tw-bg-confia-dark-green tw-dark:tw-bg-confia-dark-green tw-absolute tw--end-[3px] tw-top-[142px] tw-rounded-e-lg"
              ></div>
              <div
                class="tw-rounded-[1rem] tw-overflow-hidden tw-w-[90%] tw-h-[95%] tw-bg-white"
              >
                <img
                  ngSrc="../../../../assets/services/kazaroo.png"
                  width="225"
                  height="1065"
                  class="tw-w-full tw-animate-imageScroll"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="col-12 col-md-7 tw-h-full">
            <p class="tw-text-base tw-font-normal">
              Mobile app development involves creating applications for Android
              and iOS devices that are fast, functional, and user-friendly.
              Skilled developers use tools like Android Studio, Flutter, and
              other technologies to build apps that meet business needs. From
              basic tools to advanced solutions, apps can be customized for
              various purposes, including ecommerce, gaming, or utility
              services. Whether you're curious about the "cost to develop an
              app" or searching for the "best app development companies,"
              professional mobile developers can guide you through the process.
              Companies looking to enter the mobile market benefit from
              expertise in Android application development and iOS app
              solutions. Mobile development companies and offshore app
              development firms offer tailored services to create engaging,
              reliable, and scalable apps. By focusing on user experience,
              design, and functionality, mobile app developers ensure your app
              not only meets expectations but also stands out in the competitive
              digital landscape.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 tw-mt-16">
        <div class="row tw-items-stretch">
          <div class="col-12 col-md-5">
            <h1 class="tw-font-bold tw-text-3xl tw-text-confia-dark-green">
              Technology Stack
            </h1>
            <ul
              class="tw-list-[square] marker:tw-text-confia-dark-green marker:tw-text-3xl"
            >
              <li>IOS Development</li>
              <li>Android Development</li>
              <li>Android/IOS Development using React Native</li>
              <li>Android/IOS Development using Flutter</li>
              <li>Dart</li>
              <li>Kotlin</li>
              <li>Object C</li>
              <li>Swift</li>
              <li>Java</li>
              <li>Play store deployment</li>
              <li>Apple store deployment</li>
            </ul>
          </div>
          <div
            class="col-12 col-md-7 tw-flex tw-flex-col tw-justify-center tw-items-center"
          >
            <img
              ngSrc="../../../../assets/services/mobile_icons.png"
              alt="Mobile ICONS"
              width="550"
              height="413"
              class="tw-max-w-full"
            />
          </div>
        </div>
      </div>

      <div class="col-12 text-center tw-mt-10">
        <confia-button
          content="Get Started"
          target="_parent"
          type="button"
          type="link"
          URL="/contact"
          backgroundColor="bg-dark-green"
          fontWeight="fw-400 mt-3 mt-md-0 "
          color="text-white"
          hoverClass="heroBtnHover"
          padding="p-2 px-5"
        ></confia-button>
      </div>
    </div>
  </div>

  <div class="tw-bg-confia-dark-green tw-mt-10 tw-py-16">
    <div class="container">
      <h1 class="tw-text-white mx-0 px-0 fw-bold">More Services</h1>
      <app-service-slider serviceName="mobile"></app-service-slider>
    </div>
  </div>
</div>
