.z-index-1030{
    z-index: 1030;
}
img{
    animation: iconAnim 3s ease-in-out  infinite;
}

@keyframes iconAnim {
    
    0%{
        transform: scale(0.3);
        // transform: rotate(360deg);
     
    }
    50%{
        transform: scale(1);
        transform: rotate(180deg);
    }100%{
        transform: scale(0.3);
       
       
    }
  
}