@import '../../utils/colors/color.scss';
.service-row{
    row-gap: 50px;
    .card{
        box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
        border-radius: 12px !important;
        border: 1px solid $light;
        &:hover{
            
            border: 1px solid $confia-dark-green;

        }
        a{
            text-decoration: none !important;
            &:hover{
                color: $confia-aqua !important;
            }
        }
    }
}