<div class="w-100 py-5">
    <div class="container  py-5">

        <div class="row pb-4 align-items-stretch ">
            <div class="col-12 col-md-5 d-flex flex-column align-items-center justify-content-center">
                <img src="../../../assets/images/about.png" >
            </div>
            <div class="col-12 col-md-7 ">
                <h1 class="fw-bold text-dark-green">
                   About ConfiaTech
                </h1>
                <p class="fs-20px ">
                    Welcome to ConfiaTech, where innovation meets reliability in IT solutions. We are dedicated to transforming your ideas into reality through cutting-edge technology and expert craftsmanship. At ConfiaTech, we pride ourselves on delivering tailored solutions that exceed expectations, whether you're a startup or a seasoned enterprise. Our commitment to quality, efficiency, and client satisfaction drives everything we do, ensuring your success in today's competitive landscape.
                </p>
            </div>
            </div>
            </div>
            </div>