@import '../../utils/colors/color.scss';
@import '../../../../node_modules/keen-slider/keen-slider.min.css';
.hero_des_col{
    & > div{
        width: 176px;
        height: 264px;
        background-color: $confia-dark-green;

        border-radius: 15px;
        overflow: hidden;
        transition: all 1s;
        // &:nth-of-type(odd){
        //     animation: zoom 5s infinite;
        // }
        // &:nth-of-type(even){
        //     animation: zoom 4s infinite;
        // }

     
    }
}

.underline-anim{
    a{    color: $dark;
        background: 
    linear-gradient(to right, $confia-dark-green, $confia-dark-green),
    linear-gradient(to right, $confia-dark-green-o ,$confia-aqua, $confia-dark-green);
  background-size: 100% 0.2em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
        text-decoration: none;
    
        // text-decoration-thickness: 4px;
        // text-decoration-color: $confia-dark-green;
        // text-decoration-style:dotted;
        // text-decoration-skip-ink:3px;
        animation: underline 2s infinite;
    }
  
}
@keyframes underline {
    0% {
        background-size: 100% 0.2em, 0 0.2em;
       
    }
    50% {
        background-size: 0 0.2em, 100% 0.2em;

    }
    100% {
        background-size: 100% 0.2em, 0 0.2em;
    }
  }
@keyframes zoom {
    0% {
        transform: scale(1);
        
    }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.tool_icons{
    flex-wrap: wrap;    
    column-gap: 10px;
    row-gap: 30px;
  div{
    margin-right: 15px;
        border:1px solid $confia-light;
  
        @for $i from 1 through 7 {
            &:nth-child(#{$i}){
                animation: zoom ( $i * 1.25s) infinite;
            }
        }
  }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        
    }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-bg{
    background-size: 180px 180px;
    background-image:
    linear-gradient(to left, rgb(204 204 204 / 30%) 1px, transparent 1px),
    linear-gradient(to top,rgb(204 204 204 / 30%)  1px, transparent 1px)
}