<div class="w-100 py-5 hero-bg">
<div class="max-w-2560 ">
    <div class="row align-items-stretch py-4 ">
        <div class=" col-12 col-md-6 col-xl-5 d-flex flex-column  justify-content-center">
          <div class="row">
            <div class="text-center text-md-start col-10  col-md-11 col-lg-10 col-xxl-9 mx-auto mx-md-0">
                <h1 class="fs-hero-h1  fw-bold">Transforming Ideas into Interactive Online Experiences</h1>
                <h6 class="mt-2">Every groundbreaking idea starts with the right tech partner. Ready to create something extraordinary?</h6>
                <confia-button content="Let's innovate together" type="link" URL="#"   hoverClass="heroBtnHover mt-3 px-3"></confia-button>
               </div>
               <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center mt-5 tool_icons">
  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                    <img src="../../../assets/Icons/NET_Core_Logo.svg.png"  width="64" height="64"    alt=".net core" loading="lazy" fetchpriority="low" >
                  
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                    <img src="../../../assets/Icons/angular-icon-logo.png"  width="64" height="64"    alt="Angular" loading="lazy" fetchpriority="low" >
                 
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                    <img src="../../../assets/Icons/django.png"  width="64" height="64"    alt="Django" loading="lazy" fetchpriority="low" >
                   
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                    <img src="../../../assets/Icons/download.png"  width="64" height="64"    alt="react" loading="lazy" fetchpriority="low" >
                   
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                    <img src="../../../assets/Icons/flutter-icon-2048x2048-ufx4idi8.png"  width="64" height="64"    alt="Flutter" loading="lazy" fetchpriority="low" >
                   
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                     <img src="../../../assets/Icons/apps-figma-icon-2048x2048-ctjj5ab7.png"  width="64" height="64"    alt="Figma" loading="lazy" fetchpriority="low" >
                
                   </div>  
                   <div class="rounded-circle overflow-hidden w-64px h-64px">
                     <img src="../../../assets/Icons/png-clipart-orange-and-brown-ai-logo-area-text-symbol-adobe-ai-text-trademark.png"  width="64" height="64"    alt="Adobe Illustrator" loading="lazy" fetchpriority="low" >
           
                   </div>  
                  
                  </div>   
          
          </div>
    
        </div>
        <div class="col-12 col-md-6 col-xl-7  d-none d-md-flex overflow-hidden justify-content-end" >
            <div class="row align-items-stretch justify-content-end ">
                <div class="col-4 d-flex flex-column align-items-end hero_des_col pt-20rem"  >
                    <div  ><img ngSrc="../../../../assets/images/hero_imgs/image2.jpg"  loading="lazy" fetchpriority="low" width="176" height="264"   alt="hero image"></div>
                </div>
                <div class="col-4  d-flex flex-column  align-items-end hero_des_col  pt-9rem" >
                    <div  class="my-3">      <div class="overflow-hidden" ><img ngSrc="../../../../assets/images/hero_imgs/image4.jpg"  width="176" height="264"    alt="hero image" loading="lazy" fetchpriority="low" ></div>
                </div>
                    <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image5.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"    alt="hero image"></div>
                </div>
                <div class="col-4  d-flex flex-column  align-items-end hero_des_col ">
                    <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image7.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"    alt="hero image"></div>
              
                    <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image3.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"   alt="hero image"></div>
                 </div>
            </div>
                <!-- <div class="d-flex justify-content-end">
                    <div style="width: 176px; height: 264px;margin-top: 10%; margin-right: 100px;" class="bg-danger"></div>
                <div style="width: 176px; height: 264px;" class="bg-dark-green"></div>
                </div>
                <div class="d-flex justify-content-end my-3">
                    <div style="width: 176px; height: 264px;margin-top: 10%; margin-right: 100px;" class="bg-danger"></div>
                    <div style="width: 176px; height: 264px;" class="bg-dark-green"></div>
                </div> -->
        </div>
    </div>
</div>
</div>