<div
  class="w-100 bg-dark-green-o hero-bg tw-overflow-hidden tw-flex-col tw-flex tw-items-center tw-justify-center"
>
  <div
    class="container-lg mx-auto tw-h-full tw-py-40 tw-relative tw-flex-col tw-flex tw-items-center tw-justify-center"
  >
    <div
      class="tw-h-96 tw-w-96 tw-p-[42rem] tw-top-1/2 tw-animate-ping tw-animate-duration-[10000] tw-absolute tw-bg-gradient-to-b tw-from-confia-light/15 tw-via-5% tw-to-white/5 tw-to-50% tw-rounded-full tw-flex tw-items-center tw-justify-center"
    >
      <div
        class="tw-h-72 tw-w-72 tw-p-[37rem] tw-relative tw-rounded-full tw-bg-gradient-to-b tw-from-confia-aqua/15 tw-via-5% tw-to-white/5 tw-to-50% tw-flex tw-items-center tw-justify-center"
      >
        <div
          class="tw-h-52 tw-w-52 tw-p-[32rem] tw-bg-gradient-to-b relative tw-from-confia-dark-green/15 tw-via-40% tw-via-white/5 tw-to-transparent tw-from-20% tw-rounded-full"
        >
          <!-- <img src="../../../assets/Icons/c-sharp.png"  width="20" height="20"  class="rounded-xl overflow-hidden w-10 h-10 absolute -top-4 "   alt="c#" loading="lazy" fetchpriority="low" >
                        <img src="../../../assets/Icons/aws.png"  width="20" height="20"  class="rounded-xl overflow-hidden w-10 h-10 absolute top-4  left-1/4"   alt="AWS" loading="lazy" fetchpriority="low" >
                        <img src="../../../assets/Icons/docker.png"  width="20" height="20"  class="rounded-xl overflow-hidden w-10 h-10 absolute top-2 right-1/4 "   alt="Docker" loading="lazy" fetchpriority="low" >
                        <img src="../../../assets/Icons/angular-icon-logo.png"  width="20" height="20"  class="rounded-xl overflow-hidden w-10 h-10 absolute top-24 left-20 "   alt="Angular" loading="lazy" fetchpriority="low" >
                        <img src="../../../assets/Icons/django.png"  width="20" height="20"  class="rounded-xl overflow-hidden w-10 h-10 absolute top-24 right-20 "   alt="Django" loading="lazy" fetchpriority="low" >
                      
                   -->
        </div>
      </div>
    </div>
    <div class="row w-100 align-items-stretch tw-justify-center">
      <div
        class="col-12 col-md-11 col-lg-9 tw-h-full tw-flex tw-flex-col tw-justify-center"
      >
        <!-- <div class="mb-4 underline-anim fs-20px ">
                    Ready to innovate?
                    <a href="#" class="fs-20px pb-2 ">
                        Contact us now
                    </a>
                   </div> -->

        <div class="text-center">
          <h1 class="tw-text-4xl md:tw-text-6xl fw-bold">
            Transforming Ideas into Interactive Online Experiences
          </h1>
          <p class="mt-2 line-height-1p3 fs-hero-subheading fw-300">
            Every groundbreaking idea starts with the right tech partner. Ready
            to create something extraordinary?
          </p>
          <!-- <confia-button content="Let's innovate together" type="link" URL="#" [isCenter]="true"  hoverClass="heroBtnHover my-5 px-3 px-md-5 py-3 py-2"></confia-button> -->
          <div class="buttons">
            <button class="blob-btn">
              Let's innovate together
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </button>
            <!-- <br /> -->

            <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <filter id="goo">
                  <feGaussianBlur
                    in="SourceGraphic"
                    result="blur"
                    stdDeviation="10"
                  ></feGaussianBlur>
                  <feColorMatrix
                    in="blur"
                    mode="matrix"
                    values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                    result="goo"
                  ></feColorMatrix>
                  <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
              </defs>
            </svg> -->
          </div>
        </div>
      </div>

      <!-- <div class="col-12 d-flex flex-column justify-content-center justify-content-md-center align-items-center mt-md-5 mt-2">
                    <div class="keen-slider mt-5" #sliderRef>
                      
                        <div class="keen-slider__slide number-slide1">
                    <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Angular</span>
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark  w-110px py-2 px-3">React</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px  py-2 px-3">Django</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px  py-2 px-3">ASP.Net</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Figma</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Creative Suite</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Fast Api</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">HTML/CSS</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Javascript</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Typescript</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Flutter</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">SWIFT UI</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Kotlin</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">AWS</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Docker</span>
                           
                    </div>
                
                      </div>   
                      <div class="keen-slider mt-3" #sliderRef2>
                      
                        <div class="keen-slider__slide number-slide1">
                    <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Angular</span>
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark  w-110px py-2 px-3">React</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px  py-2 px-3">Django</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px  py-2 px-3">ASP.Net</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Figma</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Creative Suite</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Fast Api</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">HTML/CSS</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Javascript</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Typescript</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Flutter</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">SWIFT UI</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Kotlin</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">AWS</span>
                           
                    </div>
                        <div class="keen-slider__slide number-slide1">
                          
          
                            <span class="badge rounded-pill border border-dark-green text-dark w-110px py-2 px-3">Docker</span>
                           
                    </div>
                
                      </div>   
              </div> -->
    </div>
  </div>

  <!-- 
    <div class="w-100 py-5 hero-bg  ps-4">
        <div class="container-lg">
            <div class="row align-items-stretch py-4 ">
                <div class=" col-12 col-md-6 col-xl-5 col-xxl-6 d-flex flex-column  justify-content-center">
                  <div class="row w-100">
                    <div class="text-center text-md-start col-12 col-sm-10  col-md-11 col-lg-12 col-xxl-12 mx-auto mx-md-0">
                        <h1 class="   fw-bold">Transforming Ideas into Interactive Online Experiences</h1>
                        <h5 class="mt-2 line-height-1p3">Every groundbreaking idea starts with the right tech partner. Ready to create something extraordinary?</h5>
                        <confia-button content="Let's innovate together" type="link" URL="#"   hoverClass="heroBtnHover mt-3 px-3 px-md-5 py-3 py-2"></confia-button>
                       </div>
                       <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center mt-5 tool_icons">
          
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                            <img src="../../../assets/Icons/NET_Core_Logo.svg.png"  width="50" height="50"    alt=".net core" loading="lazy" fetchpriority="low" >
                          
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                            <img src="../../../assets/Icons/angular-icon-logo.png"  width="50" height="50"    alt="Angular" loading="lazy" fetchpriority="low" >
                         
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                            <img src="../../../assets/Icons/django.png"  width="50" height="50"    alt="Django" loading="lazy" fetchpriority="low" >
                           
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                            <img src="../../../assets/Icons/download.png"  width="50" height="50"    alt="react" loading="lazy" fetchpriority="low" >
                           
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                            <img src="../../../assets/Icons/flutter-icon-2048x2048-ufx4idi8.png"  width="50" height="50"    alt="Flutter" loading="lazy" fetchpriority="low" >
                           
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                             <img src="../../../assets/Icons/apps-figma-icon-2048x2048-ctjj5ab7.png"  width="50" height="50"    alt="Figma" loading="lazy" fetchpriority="low" >
                        
                           </div>  
                           <div class="rounded-circle overflow-hidden w-50px h-50px">
                             <img src="../../../assets/Icons/png-clipart-orange-and-brown-ai-logo-area-text-symbol-adobe-ai-text-trademark.png"  width="50" height="50"    alt="Adobe Illustrator" loading="lazy" fetchpriority="low" >
                   
                           </div>  
                          
                          </div>   
                  
                  </div>
            
                </div>
                <div class="col-12 col-md-6 col-xl-7 col-xxl-6  d-none d-md-flex overflow-hidden justify-content-end" >
                    <div class="row align-items-stretch justify-content-end ">
                        <div class="col-4 d-flex flex-column align-items-end hero_des_col pt-20rem"  >
                            <div  ><img ngSrc="../../../../assets/images/hero_imgs/image2.jpg"  loading="lazy" fetchpriority="low" width="176" height="264"   alt="hero image"></div>
                        </div>
                        <div class="col-4  d-flex flex-column  align-items-end hero_des_col  pt-9rem" >
                            <div  class="my-3">      <div class="overflow-hidden" ><img ngSrc="../../../../assets/images/hero_imgs/image4.jpg"  width="176" height="264"    alt="hero image" loading="lazy" fetchpriority="low" ></div>
                        </div>
                            <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image5.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"    alt="hero image"></div>
                        </div>
                        <div class="col-4  d-flex flex-column  align-items-end hero_des_col ">
                            <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image7.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"    alt="hero image"></div>
                      
                            <div  class=" my-3"> <img ngSrc="../../../../assets/images/hero_imgs/image3.jpg" loading="lazy" fetchpriority="low"  width="176" height="264"   alt="hero image"></div>
                         </div>
                    </div>
                       
                </div>
            </div>
        </div>
        </div>
         -->
</div>
