
@import '../../utils/colors/color.scss';
.hero-bg{
    background-size: 180px 180px;
    background-image:
    linear-gradient(to left, rgb(204 204 204 / 30%) 1px, transparent 1px),
    linear-gradient(to top,rgb(204 204 204 / 30%)  1px, transparent 1px);

}
.accordion-button:not(.collapsed) {
    background-color: $confia-dark-green-o;
    color: $confia-dark-green !important;
}
.hero_des_col{
    & > img{
        // width: 176px;
        // height: 264px;
        // background-color: $confia-dark-green;

        // border-radius: 15px;
        // overflow: hidden;
        // transition: all 1s;
        &:nth-of-type(odd){
            animation: zoom 5s infinite;
        }
        &:nth-of-type(even){
            animation: zoom 4s infinite;
        }

     
    }
}
.service-row{
    row-gap: 50px;
    .card{
        box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
        border-radius: 12px !important;
        border: 1px solid $light;
        &:hover{
            
            border: 1px solid $confia-dark-green;

        }
    }
}
