<div class="w-100 py-5 bg-dark-green-o">
  <div class="container py-5 tw-mt-6">
    <div class="row pb-4 service-row tw-gap-y-5">
      <div class="col-12 col-lg-6">
        <div
          class="d-flex w-100 flex-sm-row flex-column align-items-center justify-content-between"
        >
          <h1 class="text-dark-green mx-0 px-0 fw-bold tw-mb-5 tw-capitalize">
            {{ portfolio?.title }}
          </h1>
        </div>

        <p>{{ portfolio?.description }}</p>
        <h3 class="tw-font-bold" *ngIf="portfolio?.technologies">
          Technologies Used:
        </h3>
        <ul
          class="tw-list-[square] marker:tw-text-confia-dark-green marker:tw-text-3xl"
        >
          <li *ngFor="let item of portfolio?.technologies">
            {{ item }}
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6">
        <ng-container *ngIf="portfolio?.image">
          <img
            [ngSrc]="portfolio?.image || ''"
            [alt]="portfolio?.title"
            width="636"
            height="424"
            loading="lazy"
            class="w-100 tw-rounded-xl"
            fetchpriority="low"
          />
        </ng-container>
      </div>
      <div class="col-12 tw-text-center" *ngIf="portfolio?.url">
        <confia-button
          content="View App"
          type="link"
          backgroundColor="bg-dark-green"
          fontWeight="fw-400 mt-3 mt-md-0 "
          color="text-white"
          hoverClass="heroBtnHover"
          target="_blank"
          padding="p-2 px-5"
          [URL]="portfolio?.url || '#'"
        ></confia-button>
      </div>
    </div>
  </div>
</div>
