<div class="w-100 py-5 bg-dark">
    <div class="container  ">
        <div class="row text-white">
          
            <div class="col-12 col-md-6 col-lg-3 ">
                <img src="../../../assets/images/logo-white.png" width="200"/>
           <div class="p-2">
            <p class="text-light">
                DREAM DIGITIZERS. We ConfiaTech known as “Dream Digitizers” , we are here to grow your business globally by our best IT solutions.

              </p>
           </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <h5>Quick links</h5>
                <div class="mt-2">
                    <a href="#" class="text-decoration-none text-light">
                        Home
                    </a>
                </div>
                <div class="mt-2">
                    <a href="#" class="text-decoration-none text-light">
                        About
                    </a>
                </div>
                <div class="mt-2">
                    <a href="#" class="text-decoration-none text-light">
                        Services
                    </a>
                </div>
                <div class="mt-2 w">
                    <a href="#" class="text-decoration-none text-light">
                        Blogs
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <h5>Contact</h5>
                <div class="mt-2">
                    <a href="https://wa.me/+447376059110" class="text-decoration-none text-light"><p class="p-0 m-0"> <fa-icon [icon]="phone"></fa-icon> +44-7376059110 </p></a>
                
                </div>
                <div class="mt-2">
                    <a href="https://wa.me/+923009840683 "  class="text-decoration-none text-light"><p class="p-0 m-0"> <fa-icon [icon]="phone"></fa-icon> +92-300-9840683  </p></a>
                
                </div>
                <div class="mt-2">
                    <a href="mailto:uk.contact@confiatech.com"  class="text-decoration-none text-light"><p class="p-0 m-0"> <fa-icon [icon]="mail"></fa-icon> {{"uk.contact@confiatech.com"}} </p></a>
                     
                </div>
                <div class="mt-2 w">
                    <a href="mailto:contact@confiatech.com"  class="text-decoration-none text-light"><p class="p-0 m-0"> <fa-icon [icon]="mail"></fa-icon> {{"contact@confiatech.com"}} </p></a>
                    
                </div>

            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-5">
                <h5>Follow us</h5>
                <a href="https://wa.me/+447376059110" class="text-decoration-none text-light me-2"><fa-icon [icon]="facebook"></fa-icon></a>
                <a href="https://wa.me/+447376059110" class="text-decoration-none text-light me-2"><fa-icon [icon]="x"></fa-icon></a>
                <a href="https://wa.me/+447376059110" class="text-decoration-none text-light me-2"><fa-icon [icon]="instagram"></fa-icon></a>
                <a href="https://wa.me/+447376059110" class="text-decoration-none text-light"><fa-icon [icon]="linkedin"></fa-icon></a>
             
            </div>
            <div class="col-12 border-top border-light mt-5">
                <div class="py-3">
                    <p class="text-light">
                        Copyright &copy; {{date.getFullYear()}} ConfiaTech (PVT) Ltd.
                    </p>
                </div>
            </div>
        </div>
        </div>
        </div>
