<div class="w-100 py-5 bg-dark">
  <div class="container">
    <div class="row text-white">
      <div class="col-12 col-md-6 col-lg-3">
        <img
          loading="lazy"
          fetchpriority="low"
          ngSrc="../../../assets/images/logo-white.png"
          width="200"
          height="51"
          class="tw-w-full"
          alt="logo"
        />
        <div class="p-2">
          <p class="text-light">
            DREAM DIGITIZERS. We ConfiaTech known as “Dream Digitizers” , we are
            here to grow your business globally by our best IT solutions.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-5">
        <h6 class="tw-text-xl">Quick links</h6>
        <ng-container *ngFor="let item of urls">
          <div class="mt-2" *ngIf="item.type === 'text'">
            <a
              [routerLink]="item.url"
              [fragment]="item.fragment"
              class="text-decoration-none text-light"
            >
              {{ item.label }}
            </a>
          </div>
        </ng-container>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-5">
        <h6 class="tw-text-xl">Contact</h6>
        <div class="mt-2">
          <a
            href="https://wa.me/+447376059110"
            class="text-decoration-none text-light"
            ><p class="p-0 m-0">
              <fa-icon [icon]="phone"></fa-icon> +44-7376059110
            </p></a
          >
        </div>
        <div class="mt-2">
          <a
            href="https://wa.me/+923009840683 "
            class="text-decoration-none text-light"
            ><p class="p-0 m-0">
              <fa-icon [icon]="phone"></fa-icon> +92-300-9840683
            </p></a
          >
        </div>
        <div class="mt-2">
          <a
            href="mailto:uk.contact@confiatech.com"
            class="text-decoration-none text-light"
            ><p class="p-0 m-0">
              <fa-icon [icon]="mail"></fa-icon>
              {{ "uk.contact@confiatech.com" }}
            </p></a
          >
        </div>
        <div class="mt-2 w">
          <a
            href="mailto:contact@confiatech.com"
            class="text-decoration-none text-light"
            ><p class="p-0 m-0">
              <fa-icon [icon]="mail"></fa-icon> {{ "contact@confiatech.com" }}
            </p></a
          >
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-5">
        <h6 class="tw-text-xl">Follow us</h6>
        <a
          title="Facebook"
          href="https://www.facebook.com/confiatech"
          aria-label="Visit facebook page"
          target="_blank"
          class="text-decoration-none text-light me-2"
          ><fa-icon [icon]="facebook"></fa-icon
        ></a>
        <a
          title="X"
          href="https://x.com/ConfiaTechltd"
          aria-label="Visit x page"
          class="text-decoration-none text-light me-2"
          ><fa-icon [icon]="x"></fa-icon
        ></a>
        <a
          title="instagram"
          href="https://instagram.com/confiatech_pvt_ltd"
          target="_blank"
          aria-label="Visit instagram profile"
          class="text-decoration-none text-light me-2"
          ><fa-icon [icon]="instagram"></fa-icon
        ></a>
        <a
          title="linkedin"
          href="https://www.linkedin.com/company/confiatech/"
          target="_blank"
          class="text-decoration-none text-light"
          aria-label="Visit linkein page"
          ><fa-icon [icon]="linkedin"></fa-icon
        ></a>
      </div>
      <div class="col-12 border-top border-light mt-5">
        <div class="py-3">
          <p class="text-light">
            Copyright &copy; {{ date.getFullYear() }} ConfiaTech (PVT) Ltd.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
