<div
  class="tw-h-full tw-flex tw-items-center tw-min-h-dvh tw-justify-center tw-flex-col tw-w-full"
>
  <div class="container tw-text-center">
    <p>Page you are requesting</p>
    <h1 class="tw-text-confia-dark-green text-4xl sm:tw-text-6xl">404</h1>
    <h2 class="tw-text-confia-dark-green text-4xl sm:tw-text-6xl">Not found</h2>
    <confia-button
      content="Back to home"
      type="link"
      backgroundColor="bg-dark-green"
      fontWeight="fw-400 tw-mt-10 "
      color="text-white"
      hoverClass="heroBtnHover"
      padding="p-2 px-5"
      [URL]="'/'"
    ></confia-button>
  </div>
</div>
