
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import '../../utils/colors/color.scss';
.service-row{
    row-gap: 50px;
    .card{
        box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
        border-radius: 12px !important;
        border: 1px solid $light;
        &:hover{
            
            border: 1px solid $confia-dark-green;

        }
    }
}
.mb-min-8per{
    margin-bottom: -8% !important;
}
.serviceType{
    @media screen and (max-width:'500px') {
        img{
            display: none;
        }
        text-align: center;
    }
  
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 12px !important;
        @include media-breakpoint-down(md){
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }
  
}
.serviceType2{
    @media screen and (max-width:'500px') {
        img{
            display: none;
        }
        text-align: center;
    }
   
        border-top-right-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
        @include media-breakpoint-down(md){
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
  
    
}