<div class="w-100 py-5 bg-dark-green-o">
  <div class="container py-5">
    <div class="row pb-4 align-items-stretch">
      <div class="col-12">
        <h2 class="fw-bold text-dark-green">Reach us out</h2>
      </div>
    </div>
    <div class="row align-items-stretch service-row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card px-4 py-4 h-100 border-0">
          <div class="card-header bg-transparent border-0">
            <h5 class="fw-bold">UK office</h5>
          </div>
          <div class="card-body py-0 border-0">
            <div class="">
              <p class="p-0 m-0 tw-mt-3">
                <fa-icon [icon]="location"></fa-icon> 1 Gawthorpe Lane, Wf2 0SR
              </p>
              <a
                title="whatsapp"
                href="https://wa.me/+447376059110"
                class="text-decoration-none text-dark tw-mt-3"
                ><p class="p-0 m-0">
                  <fa-icon [icon]="phone"></fa-icon> +44-7376059110
                </p></a
              >
              <a
                title="Email"
                href="mailto:uk.contact@confiatech.com"
                class="text-decoration-none text-dark tw-mt-3"
                ><p class="p-0 m-0">
                  <fa-icon [icon]="mail"></fa-icon>
                  {{ "uk.contact@confiatech.com" }}
                </p></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card px-4 py-4 h-100 border-0">
          <div class="card-header bg-transparent border-0">
            <h5 class="fw-bold">Pakistan office</h5>
          </div>
          <div class="card-body py-0 border-0">
            <div class="">
              <p class="p-0 m-0 tw-mt-3">
                <fa-icon [icon]="location"></fa-icon> Office No.14,2nd Floor,VIP
                Plaza, I-8 Markaz, Islamabad
              </p>
              <a
                title="whatsapp"
                href="https://wa.me/+923009840683 "
                class="text-decoration-none tw-mt-3 text-dark"
                ><p class="p-0 m-0">
                  <fa-icon [icon]="phone"></fa-icon> +92-300-9840683
                </p></a
              >
              <a
                title="Email"
                href="mailto:contact@confiatech.com"
                class="text-decoration-none text-dark tw-mt-3"
                ><p class="p-0 m-0">
                  <fa-icon [icon]="mail"></fa-icon>
                  {{ "contact@confiatech.com" }}
                </p></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-100 py-5" id="contact">
  <div class="container py-5">
    <div class="row align-items-stretch">
      <div class="col-12 mb-5">
        <div class="w-100">
          <h2 class="fw-bold text-dark-green">Get in touch</h2>
        </div>
      </div>
      <div
        class="col-12 d-none d-lg-flex col-lg-6 col-xl-7 flex-column align-items-center justify-content-center"
      >
        <img
          loading="eager"
          fetchpriority="high"
          ngSrc="../../../assets/images/contact.png"
          class="w-100"
          width="746"
          height="543"
          alt="contact"
        />
      </div>
      <div class="col-12 col-md-12 col-lg-6 col-xl-5">
        <div class="card p-4 mt-3">
          <form
            class="row pb-4 align-items-stretch"
            [formGroup]="contactForm"
            (ngSubmit)="submit()"
          >
            <div class="col-12">
              <div class="form-group mb-3">
                <label>Your Name</label>
                <input
                  formControlName="name"
                  type="text"
                  class="form-control p-3 mt-3"
                  placeholder="Your Name"
                />
                <small
                  class="text-danger tw-text-xs"
                  *ngIf="
                    contactForm.get('name')?.invalid &&
                    (contactForm.get('name')?.dirty ||
                      contactForm.get('name')?.touched)
                  "
                >
                  Name is required
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group my-3">
                <label>Your Email</label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control p-3 mt-3"
                  placeholder="Your Email"
                />
              </div>
              <small
                class="text-danger tw-text-xs"
                *ngIf="
                  contactForm.get('email')?.invalid &&
                  (contactForm.get('email')?.dirty ||
                    contactForm.get('email')?.touched)
                "
              >
                <span *ngIf="contactForm.get('email')?.hasError('required')">
                  Email is required
                </span>
                <span *ngIf="contactForm.get('email')?.hasError('pattern')">
                  Email is invalid
                </span>
              </small>
            </div>

            <div class="col-12">
              <div class="form-group my-3">
                <label>Subject</label>
                <input
                  type="text"
                  formControlName="subject"
                  class="form-control p-3 mt-3"
                  placeholder="Subject"
                />
              </div>
              <small
                class="text-danger tw-text-xs"
                *ngIf="
                  contactForm.get('subject')?.invalid &&
                  (contactForm.get('subject')?.dirty ||
                    contactForm.get('subject')?.touched)
                "
              >
                Subject is required
              </small>
            </div>
            <div class="col-12">
              <div class="form-group my-3">
                <label>Your Query</label>
                <textarea
                  type="text"
                  formControlName="message"
                  class="form-control p-3 mt-3 w-100"
                  placeholder="Your Query"
                  rows="8"
                ></textarea>
                <small
                  class="text-danger tw-text-xs"
                  *ngIf="
                    contactForm.get('message')?.invalid &&
                    (contactForm.get('message')?.dirty ||
                      contactForm.get('message')?.touched)
                  "
                >
                  Please enter your message
                </small>
              </div>
            </div>
            <div class="col-sm-12 mb-2">
              <re-captcha
                id="recaptcha"
                name="recaptcha"
                #recaptcha="ngModel"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="token"
                required
                [class.is-invalid]="
                  recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
                "
              ></re-captcha>
              <div
                *ngIf="
                  recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
                "
                class="invalid-feedback"
              >
                <div *ngIf="recaptcha.errors?.['required']">
                  This field is required.
                </div>
              </div>
            </div>
            <div class="col-12 text-end">
              <div
                class="d-flex flex-column h-100 align-items-end justify-content-end"
              >
                <!-- !this.token || -->
                <confia-button
                  [disabled]="contactForm.invalid"
                  [content]="'Send'"
                  [type]="'submit'"
                ></confia-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
