
@import '../../utils/colors/color.scss';
.service-row{
    row-gap: 50px;
    .card{
        box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
        border-radius: 12px !important;
        border: 1px solid $light;
        &:hover{
            
            border: 1px solid $confia-dark-green;

        }
    }
}
.card{
    box-shadow: rgba(33, 35, 38, 0.15) 0px 10px 10px -10px;
    border-radius: 12px !important;
    border: 1px solid $light;
}
a{
    &:hover{
        color:$confia-aqua !important;
    }
}re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
  }
  